<clr-wizard #wizard [clrWizardOpen]="true">
  <clr-wizard-title>{{
    product ? "edit product" : "New Product"
  }}</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'" (click)="handleCancel()"
    >Cancel</clr-wizard-button
  >
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'" (click)="handleFinish()"
    >Done</clr-wizard-button
  >

  <clr-wizard-page>
    <ng-template clrPageTitle>Select Categories</ng-template>
    <ng-template clrPageNavTitle>Step 1</ng-template>
    <div class="dir-row category">
      <div class="clr-col-md-6" *ngFor="let category of categories">
        <a
          href="javascript:void(0)"
          class="card clickable"
          (click)="selectCategory(category.idCategory)"
          [ngClass]="{ active: category.idCategory == idCategory }"
        >
          <div class="card-block">
            <p class="card-text">
              {{ category.name }}
              <clr-icon [attr.shape]="category.icon"></clr-icon>
            </p>
          </div>
        </a>
      </div>
    </div>
  </clr-wizard-page>

  <form [formGroup]="productform">
    <clr-wizard-page>
      <ng-template clrPageTitle>Product info</ng-template>
      <ng-template clrPageNavTitle>step 2</ng-template>
      <div formGroupName="productInfo">
        <!-- field -->
        <clr-input-container>
          <label>Product name</label>
          <input
            clrInput
            placeholder="product name ..."
            name="name"
            formControlName="name"
          />
          <clr-control-error>This field cannot be empty!</clr-control-error>
        </clr-input-container>

        <clr-textarea-container>
          <label>Description</label>
          <textarea
            clrTextarea
            formControlName="description"
            name="description"
          ></textarea>
        </clr-textarea-container>

        <clr-input-container>
          <label>Price</label>
          <input
            clrInput
            placeholder="price ..."
            name="price"
            formControlName="price"
          />
          <clr-control-error>This field cannot be empty!</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Stock</label>
          <input
            clrInput
            placeholder="stock ..."
            name="stock"
            formControlName="stock"
          />
          <clr-control-error>This field cannot be empty!</clr-control-error>
        </clr-input-container>
      </div>

      <ng-template clrPageButtons>
        <clr-wizard-button [type]="'cancel'" (click)="handleCancel()"
          >Cancel</clr-wizard-button
        >
        <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
        <clr-wizard-button
          [type]="'next'"
          [clrWizardButtonDisabled]="isProductInfoInvalid"
          >Next</clr-wizard-button
        >
      </ng-template>
    </clr-wizard-page>

    <clr-wizard-page>
      <ng-template clrPageTitle>Illustration</ng-template>
      <ng-template clrPageNavTitle>Step3</ng-template>
      <div formGroupName="illustration">
        <!-- field -->
        <clr-input-container>
          <label> Product Image</label>
          <input
            clrInput
            placeholder="image"
            name="image"
            formControlName="image"
            type="file"
            (change)="detectFiles($event)"
            accept="image/*"
          />
          <clr-control-error>This field cannot be empty!</clr-control-error>
        </clr-input-container>
      </div>

      <ng-template clrPageButtons>
        <clr-wizard-button [type]="'cancel'" (click)="handleCancel()"
          >Cancel</clr-wizard-button
        >
        <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
        <clr-wizard-button
          [type]="'finish'"
          [clrWizardButtonDisabled]="isUlistrationInvalid"
          (click)="handleFinish()"
          >Finish</clr-wizard-button
        >
      </ng-template>
    </clr-wizard-page>
  </form>
</clr-wizard>
